:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.productCard{
  width: 300px;
}
.productCardsContainer{
  display: flex;
  flex-wrap: wrap;
}
#storeFilter{
  display: flex;

}
.cart-card{

  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  flex-direction: column;
}
.cart-card *{
  height: auto;
  margin: 0;
}
#payment-form{
  width:80%
}
.payment{

  margin: 30px 30px;
}
.store-img{
  width: 300px;
}
.product-page-img{
  width: 300px;
}
a {
 text-decoration: none;
 
}
a :hover{
  text-decoration:underline;
  text-decoration-color: #eb712a;
  text-decoration-thickness:1px ;
}

